article {
  height: 300px;
}

aside {
  position: fixed;
  inset: 0 74vw 0 0;
  min-height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  overflow-y: auto;
  overflow-x: auto;
}
aside article {
  background-color: blue;
}

body {
  overflow-y: hidden;
}

/* article {
  height: 300px;
  border: 1px solid black;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 3;
  border: 3px dotted red;
  overflow: auto;
  inset: 0 74vw 0 0;

}

aside article {
  background-color: #ccf;
}


body>article {
  margin-left: calc(23vw + 0.5rem);
} */
